body {
	width: 100%;
}

.container {
	text-align: center;
	color: blue;
}

.container table {
	margin: auto;
	height: 100px;
}

.container table tr td {
	text-align: center;
	height: 50px;
	width: 100px;
}

.status {
	text-align: center;
	margin: auto;
}